@mixin font-face($font-family, $file-name, $font-weight) {
  @font-face {
    font-family: $font-family;
    src: url("../assets/fonts/#{$font-family}/#{$file-name}");
    font-style: normal;
    font-weight: $font-weight;
  }
}

// Poppins font family
@include font-face("Poppins", "Poppins-SemiBold.ttf", 600);
@include font-face("Poppins", "Poppins-Medium.ttf", 500);
@include font-face("Poppins", "Poppins-Regular.ttf", 400);
