@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.scss";
@import "./typography.scss";

* {
  font-family:
    "Poppins",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-numeric: lining-nums proportional-nums;

  @apply transition-all duration-200;
}

body {
  @apply bg-white-ligth;
  margin: 0;
}

input {
  outline: none;
}

.container {
  // @apply max-w-480 w-full box-border mx-auto px-4 lg:px-6 overflow-hidden;
}
